@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700;800&display=swap");

:root {
  --bangla-font :  "Noto Sans Bengali", sans-serif;
  --pink-color : #E91E63 ;
  --green-color : #006A4E ;
}

/* Header start */
.navbar {
    font-family: var(--bangla-font);
}
.navbar-brand {
    color: var(--green-color);
    font-weight: 700;
    font-size: 18px;
}
.navbar-brand:hover{
    color: var(--green-color);
}
.navbar-nav .nav-link:hover{
    color: var(--pink-color)!important;
}